<!--  -->
<hr style="width:66%"/>
<!-- Navigation -->
<div class="post-bottom">
	<table>
		<tr>
			<td>
				<div class="prev-post">
				{% if page.previous.url %}
					<a href="{{ site.baseurl }}{{ page.previous.url }}">&#128281;<br />{{ page.previous.title }}</a>
				{% else %}
					&nbsp;
				{% endif %}
				</div>
			</td>
			<td>
				<div class="blog-return">
					<a href="{{ '/blog.html' | relative_url }}">Return</a>
				</div>
			</td>
			<td>
				<div class="next-post">
				{% if page.next.url %}
					<a href="{{ site.baseurl }}{{ page.next.url }}">&#128284;<br />{{ page.next.title }} </a>
				{% else %}
					&nbsp;
				{% endif %}
				</div>
			</td>
		</tr>
	</table>
</div>
